<div class="app">
    <aside #sideMenu class="app-menu side-menu-closed">
        <div #top class="app-menu-top side-menu-closed">
            <div #menuButton class="menu-button side-menu-closed"
                 [class.menu-button--active]="isSideMenuVisible | async" (click)="toggleSideMenu()">
                <div class="menu-button__slice"></div>
            </div>
            <img #profilePic class="profile-pic side-menu-closed" src="/assets/img/avatar.png"
                 alt="profile-picture">
            <span *ngIf="isSideMenuVisible | async" class="text text-welcome">Welcome,</span>
            <span *ngIf="isSideMenuVisible | async" class="text text-name">
                {{(user | async)?.firstName}} {{(user | async)?.lastName}}
            </span>
        </div>

        <nav #nav class="app-nav side-menu-closed">
            <ng-scrollbar track="vertical" visibility="hover" pointerEventsMethod="scrollbar">
                <app-side-menu-item [link]="['/app', 'stats']">
                    <ng-container class="svg-icon">
                        <svg #templateVarUsedWhenisSideMenuVisible class="svg-icon side-menu-closed">
                            <use xlink:href="#tablet-dashboard"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Stats</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [link]="['/app', 'payments']">
                    <ng-container class="svg-icon">
                        <svg #templateVarUsedWhenisSideMenuVisible class="svg-icon side-menu-closed">
                            <use xlink:href="#cash-multiple"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Payments</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [link]="['/app', 'transactions']">
                    <ng-container class="svg-icon">
                        <svg #templateVarUsedWhenisSideMenuVisible class="svg-icon side-menu-closed">
                            <use xlink:href="#cards-variant"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Transactions</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [link]="['/app', 'plans']">
                    <ng-container class="svg-icon">
                        <svg #templateVarUsedWhenisSideMenuVisible class="svg-icon side-menu-closed">
                            <use xlink:href="#handshake-outline"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Plans</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [link]="['/app', 'validations']">
                    <ng-container class="svg-icon">
                        <svg #templateVarUsedWhenisSideMenuVisible class="svg-icon side-menu-closed">
                            <use xlink:href="#hand-okay"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Validations</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [link]="['/app', 'profile']">
                    <ng-container class="svg-icon">
                        <svg #templateVarUsedWhenisSideMenuVisible class="svg-icon side-menu-closed">
                            <use xlink:href="#face-man"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Profile</ng-container>
                </app-side-menu-item>

                <hr class="line">

                <app-side-menu-item [link]="['/app', 'about']">
                    <ng-container class="svg-icon">
                        <svg #templateVarUsedWhenisSideMenuVisible class="svg-icon side-menu-closed">
                            <use xlink:href="#information-outline"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">About</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [link]="['/auth', 'logout']">
                    <ng-container class="svg-icon">
                        <svg #templateVarUsedWhenisSideMenuVisible class="svg-icon side-menu-closed">
                            <use xlink:href="#logout"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Logout</ng-container>
                </app-side-menu-item>
            </ng-scrollbar>
        </nav>
    </aside>

    <div #panelBase class="app-base side-menu-closed">
        <app-top-bar></app-top-bar>
        <div #displayPanel class="app-panel side-menu-closed" id="display-panel">
            <main class="app-main" [@fadeAnim]="prepareRoute(outlet)">
                <ng-scrollbar track="vertical" visibility="hover" pointerEventsMethod="scrollbar">
                    <router-outlet #outlet="outlet"></router-outlet>
                </ng-scrollbar>
            </main>
            <aside #appNotificationPaneContainer *ngIf="isShowNotificationPane"
                   class="app-notification-pane side-menu-closed">
                <ng-scrollbar track="vertical" visibility="hover" pointerEventsMethod="scrollbar">
                    <app-notification-pane [myContainer]="appNotificationPaneContainer">
                    </app-notification-pane>
                </ng-scrollbar>
            </aside>
        </div>
    </div>

</div>
