<div class="app">
    <aside class="app-menu">
        <div class="app-menu-top">
            <div class="menu-button" [class.menu-button--active]="isShowSideMenu"
                 (click)="toggleSideMenu()">
                <div class="menu-button__slice"></div>
            </div>
            <img class="profile-pic" src="/assets/img/avatar.png" alt="profile-picture" srcset="">
            <span class="text text-welcome">Welcome,</span>
            <span class="text text-name">John Adams</span>
        </div>

        <nav class="app-nav">
            <ng-scrollbar track="all" pointerEventsMethod="scrollbar">
                <app-side-menu-item [link]="['/app', 'stats']">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#tablet-dashboard"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Stats</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [link]="['/app', 'payments']">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#cash-multiple"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Payments</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [link]="['/app', 'transactions']">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#cards-variant"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Transactions</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [link]="['/app', 'plans']">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#handshake-outline"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Plans</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [link]="['/app', 'profile']">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#face-man"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Profile</ng-container>
                </app-side-menu-item>

                <hr class="line">

                <app-side-menu-item [link]="['/app', 'settings']">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#cog-outline"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Settings</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [link]="['/app', 'about']">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#information-outline"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">About</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [link]="['/auth', 'logout']">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#logout"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Logout</ng-container>
                </app-side-menu-item>
            </ng-scrollbar>
        </nav>
    </aside>

    <div class="app-base">
        <ng-scrollbar track="all" pointerEventsMethod="scrollbar">
            <app-top-bar></app-top-bar>
            <main class="app-panel" [@fadeAnim]="prepareRoute(outlet)">
                <router-outlet #outlet="outlet"></router-outlet>
            </main>
        </ng-scrollbar>
    </div>
</div>
