@import '/src/variables.scss';

// remove window's scrollbar since we're using NgScrollbarModule
// also, using encapsulation: ViewEncapsulation.None
html {
    overflow: hidden;
}

body {
    overflow-x: hidden;
    background-color: $background-color;
}

ng-scrollbar {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: #005F82 !important;
    --scrollbar-thumb-hover-color: rgb(231, 46, 46) !important;
    --scrollbar-border-radius: 4px;
}

/* Based on our DOM setup, we have to set these to height: 100% 
for these, so we'll have no problems. We set in order of appearance in DOM */
.app {
    height: 100vh;
}

.app-base {
    height: 100%
}

.ng-scrollbar {
    height: 100%;
}

.ng-scrollbar-wrapper {
    height: 100%;

    // there is an inline style dynamically applied to <ng-scrollbar>
    // which applies box-sizing: content-box to it
    // because we're using minireset.sass' box-sizing: inherit on *,
    // all descendant elements of <ng-scrollbar> will inherit
    // box-sizing: content-box and we don't want this
    // so we'll set box-sizing: border-box on <ng-scrollbar>'s first child
    box-sizing: border-box;
}

.ng-scroll-viewport-wrapper {
    height: 100%;
}

.ng-scroll-viewport {
    height: 100%;
}

.ng-scroll-content {
    height: 100%;
    width: 100%;
}

.app-panel {
    height: 100%;
}

.app {
    $top-height: 45%;
    $menu-width: 22vw;
    $side-menu-closed-width: 4.5vw;
    $side-menu-closed-transition: width 200ms ease-out;

    height: 100vh;
    display: flex;

    &-menu {
        flex-shrink: 1;
        width: $menu-width;
        max-width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: $side-menu-closed-transition;

        &.side-menu-closed {
            width: $side-menu-closed-width;
        }

        background: linear-gradient(173.89deg,
            rgba(255, 0, 0, 0.09) 0%,
            rgba(235, 255, 0, 0.0747) 15.56%,
            rgba(0, 255, 41, 0.09) 32.09%,
            rgba(0, 255, 224, 0.09) 49.74%,
            rgba(5, 0, 255, 0.0585) 65.76%,
            rgba(255, 0, 245, 0.0244958) 82.55%,
            rgba(255, 0, 0, 0.09) 100%),
        $primary;

        &-top {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            min-height: $top-height;
            padding: 0 0 1.5em 0;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

            &.side-menu-closed {
                min-height: unset;
                padding: 0;
            }
        }
    }

    &-base {
        flex-grow: 1;
        width: 100vw - $menu-width;
        overflow-y: hidden;
        transition: $side-menu-closed-transition;

        &.side-menu-closed {
            width: 100vw - $side-menu-closed-width;
        }
    }

    &-panel {
        $margin-here: 0.7vw;
        display: flex;
        position: relative;
        margin: 0 $margin-here;
        width: 100vw - $menu-width - (2*$margin-here);
        transition: $side-menu-closed-transition;

        &.side-menu-closed {
            width: 100vw - $side-menu-closed-width - (2*$margin-here);
        }
    }

    &-nav {
        height: 100% - $top-height - 1.5%;

        &.side-menu-closed {
            height: 68%;
        }
    }

    &-main {
        flex-basis: 0;
        flex-grow: 1;
        // later, height of <app-top-bar> will be calculated and subtracted from window height
        // the result will be applied to this height
        height: 85%;

        .ng-scroll-viewport {
            padding-right: 0.8rem; // for the bar not to be over content
        }
    }

    &-notification-pane {
        // pretend our flex-basis for this is 25%
        // we set it to 0.01% because we wish to animate it's growth
        // to 25%. we add the class notification-pane-show to do this
        flex-basis: 0.01%;
        flex-shrink: 1;
        // later, height of <app-top-bar> will be calculated and subtracted from window height
        // the result will be applied to this height
        height: 85%;
        transition: flex-basis 150ms ease-out;

        .ng-scrollbar-track {
            margin-right: -1.39rem; // for the bar not to be over content
        }

        &-show {
            // to 25%. we add the class notification-pane-show to do this
            flex-basis: 25%;
        }
    }

    .svg-icon {
        width: 2rem;
        height: 2rem;

        &.side-menu-closed {
            margin-left: -1em;
            margin-right: 0.5em;
        }
    }
}

.menu-button {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: transparent;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    padding: 0.5em;
    min-height: 45px;
    max-height: 250px;
    transition: $nav-easing;

    @media (min-width: 48em) {
        // display: none;
    }

    &:hover {
        background: mix(black, $primary, 20);
    }

    &.side-menu-closed {
        margin: auto;
    }

    $slice-height: 3px;

    &__slice {
        position: relative;
        height: $slice-height;
        width: 40px;
        background: white;

        &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            height: $slice-height;
            width: 100%;
            background: white;
        }

        &:after {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            height: $slice-height;
            width: 100%;
            background: white;
        }
    }

    &__slice,
    &__slice:before,
    &__slice:after {
        will-change: transform;
        transition: $nav-easing;
    }

    &--active {
        .menu-button__slice {
            &:before {
                transform: rotate(-47deg) translate(-7px, -7px) scaleX(0.7);
            }

            &:after {
                transform: rotate(47deg) translate(-7px, 7px) scaleX(0.7);
            }
        }
    }
}

.text {
    text-align: center;
    font-family: $text-font;
    color: $white-ter;

    &-welcome {
        font-size: 1.5em;
        font-weight: 200;
    }

    &-name {
        font-size: 2.4em;
        font-weight: 400;
        line-height: 0.8;
    }
}

.profile-pic {
    max-width: 55% !important;
    max-height: 200px;
    margin: 0.1em auto 1.5em auto;
    filter: drop-shadow(2px 6px 4px rgba(0, 0, 0, 0.25));

    &.side-menu-closed {
        margin: 1em;
    }
}