<div class="wrapper nav-container">
    <div class="dropdown" #dropdown (click)="toggleMenu()" [class.is-active]="isMenuShown">
        <div class="dropdown-trigger">
            <button class="button" style="margin: 0" aria-haspopup="true" aria-controls="dropdown-menu2">
                <span>Our sites</span>
                <span class="icon is-small" aria-hidden="true">
                    <svg *ngIf="!isMenuShown" class="svg-icon">
                        <use xlink:href="#icon-chevron-down"></use>
                    </svg>
                    <svg *ngIf="isMenuShown" class="svg-icon">
                        <use xlink:href="#icon-chevron-up"></use>
                    </svg>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
            <div class="dropdown-content">
                <div class="dropdown-item">
                    <p>You can insert <strong>any type of content</strong> within the dropdown menu.
                    </p>
                </div>
                <hr class="dropdown-divider">
                <div class="dropdown-item">
                    <p>You simply need to use a <code>&lt;div&gt;</code> instead.</p>
                </div>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                    This is a link
                </a>
            </div>
        </div>
    </div>
    <div class="button" style="margin-left: auto;">Open an account</div>
    <div class="button">Forms</div>
    <div class="button">Support</div>
    <div class="button">Login</div>
</div>
<div class="horizontal-line"></div>

<nav app-nav class="nav nav-container"></nav>
<div class="horizontal-line"></div>