<section class="social">
    Connect with us
</section>

<section class="top">
    <div class="my-account">
        <h3>My Accounts</h3>
        <ul>
            <li>Log in</li>
        </ul>
    </div>
    <div class="investing">
        <h3>Investing</h3>
        <ul>
            <li>Investment products</li>
            <li>Account types</li>
            <li>Rollovers & transfers</li>
        </ul>
    </div>
    <div class="advice">
        <h3>Advice & Retirement</h3>
        <ul>
            <li>Advice overview</li>
            <li>Investing goals</li>
            <li>Retirement planning</li>
            <li>Investor education</li>
            <li>Calculatros & tools</li>
            <li>Tax-filing information</li>
            <li>Forms</li>
        </ul>
    </div>
    <div class="news">
        <h3>News & Perspectives</h3>
        <ul>
            <li>Markets & economy</li>
            <li>How to invest</li>
            <li>Financial management</li>
            <li>Planning for retirement</li>
            <li>Investing for life events</li>
            <li>Living in retirement</li>
        </ul>
    </div>
    <div class="benefits">
        <h3>Benefits and Costs</h3>
        <ul>
            <li>Why we're different</li>
            <li>Benefits</li>
            <li>Costs & fees</li>
            <li>Account conveniences</li>
        </ul>
    </div>
</section>

<section class="bottom">
    <img src="assets/logo.svg" alt="Investment logo" srcset="">
    <p>
        Investment funds not held in a brokerage account are held by The Vanguard Group, Inc., and
        are
        not protected by SIPC. Brokerage assets are held by Vanguard Brokerage Services, a division
        of Vanguard Marketing Corporation, member FINRA and SIPC.
    </p>
    <p>
        © 1995–2021 The Investment Group, Inc. All rights reserved. Vanguard Marketing Corporation,
        Distributor of the Vanguard Funds. Your use of this site signifies that you accept our terms
        & conditions of use.
    </p>
</section>
