<section class="bottom spc" style="margin-bottom: 0">
    <div class="root-container">
        <img src="assets/img/logo.svg" alt="Investment logo" srcset="">
        <p>
            Investment funds not held in a brokerage account are held by The Vanguard Group, Inc.,
            and
            are
            not protected by SIPC. Brokerage assets are held by Vanguard Brokerage Services, a
            division
            of Vanguard Marketing Corporation, member FINRA and SIPC.
        </p>
        <p class="sm-spc">
            © 1995–2021 The Investment Group, Inc. All rights reserved. Vanguard Marketing
            Corporation,
            Distributor of the Vanguard Funds. Your use of this site signifies that you accept our
            terms
            & conditions of use.
        </p>
    </div>
</section>
