<article class="message">
    <header class="message-header is-link">
        <p *ngIf="navData?.to == 'deposit'">Choose Plan to deposit money into</p>
        <p *ngIf="navData?.to == 'withdraw'">Choose Plan to withdraw money from</p>
    </header>
    <section class="message-body">
        <p *ngIf="navData?.to == 'deposit'">You are about to <strong>deposit money</strong>
            in a <em>Plan</em>. You selected
            <a style="text-transform: uppercase;">{{navData?.paymentDetails?.medium?.name}}</a>
            as your currency. Please select the <em>Plan</em> you wish to deposit money into.
        </p>
        <p *ngIf="navData?.to == 'withdraw'">You are about to <strong>withdraw money</strong>
            from a <em>Plan</em>. You chose to withdraw through
            <a style="text-transform: uppercase;">{{navData?.paymentDetails?.medium?.name}}</a>.
            Please select the <em>Plan</em> you wish to withdraw money from.
        </p>
    </section>
</article>

<div class="container-card container-white">
    <app-plan-card class="shake-slow" *ngFor="let plan of plans | async" [plan]="plan"
                   [showStats]="true" (click)="selectPlan(plan)">
    </app-plan-card>
</div>

<swal #alertForWithdrawalLimitInfo [swalOptions]="alertMixin"></swal>
