<article class="message">
    <div class="message-header">
        <p>Choose Plan to deposit money into</p>
        <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
        You are about to <strong>deposit money</strong> in a <em>Plan</em>.
        You selected <a>XLM</a> as your currency.
        Please select the <em>Plan</em> you wish to deposit money into.
    </div>
</article>

<div class="container-card">
    <app-plan-card class="shake-slow" *ngFor="let plan of plans | async" [plan]="plan"
                   (click)="selectPlan(plan)">
    </app-plan-card>
</div>
