<article class="message">
    <section class="message-header">
        <p>Choose Plan to deposit money into</p>
    </section>
    <section class="message-body">
        You are about to <strong>deposit money</strong> in a <em>Plan</em>.
        You selected <a>XLM</a> as your currency.
        Please select the <em>Plan</em> you wish to deposit money into.
    </section>
</article>

<div class="container-card container-white">
    <app-plan-card class="shake-slow" *ngFor="let plan of plans | async" [plan]="plan"
                   [showStats]="true" (click)="selectPlan(plan)">
    </app-plan-card>
</div>
