<div class="card">
    <img src="/assets/img/{{plan.design}}" />
    <div class="details">
        <div>
            <div [innerHTML]="icon"></div>
            <span class="plan">{{plan.name}}</span>
        </div>

        <div *ngIf="showStats" class="chart">
            <apx-chart [series]="chartOptions_.series" [chart]="chartOptions_.chart"></apx-chart>
        </div>

        <div>
            <span class="currency">{{plan.currency}}</span>
            <span class="amount">${{plan.amount}}</span>
        </div>
    </div>
</div>
