<div class="card">
    <img src="/assets/img/{{plan.image}}" />
    <div class="details">
        <div>
            <div [innerHTML]="icon"></div>
            <span class="plan">{{plan.name}}</span>
        </div>
        <canvas class="chart" baseChart [datasets]="lineChartData"
                [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                [chartType]="lineChartType" [legend]="false" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        <div>
            <span class="currency">{{plan.currency}}</span>
            <span class="amount">${{plan.amount}}</span>
        </div>
    </div>
</div>
