@import '/src/variables.scss';

.card {
    position: relative;
    width: 200px;
    height: 260px;
    cursor: drag;
    margin: 0.4rem 0.02em;

    // prevent text selection
    caret-color: transparent;
    -webkit-touch-callout: none; /* iOS Safari only */
    user-select: none;
    
    transition: filter 200ms linear;

    img {
        width: 100%;
    }

    &:hover {
        filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.5));
    }
}

.details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: -95%;
    margin: auto;
    width: 85%;
    height: 85%;
    color: $white-ter;

    .chart {
        flex-grow: 2;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50%;
    }
}

.svg-icon {
    color: white;
    width: 3rem;
    height: 3rem;
}

.plan {
    font-size: 1.8em;
    font-weight: 600;
    font-family: $text-font;
    line-height: 0.9;
    margin: 0.1em 0;
    display: block;
}

.amount {
    display: block;
    font-size: 1.5em;
    color: white;
    margin: 0;
    margin-top: 1.6em;
    line-height: 1.1;
}