<div class="card">
    <img src="/assets/img/{{plan.design}}" />
    <div class="details">
        <div>
            <div [innerHTML]="icon"></div>
            <span class="plan">{{plan.name}}</span>
        </div>

        <div *ngIf="showStats; else description" class="description">
            <apx-chart [chart]="chartOptions.chart" [series]="chartOptions.series"
                       [tooltip]="chartOptions.tooltip" [colors]="chartOptions.colors"
                       [stroke]="chartOptions.stroke" [grid]="chartOptions.grid"
                       [dataLabels]="chartOptions.dataLabels" [fill]="chartOptions.fill"
                       [xaxis]="chartOptions.xaxis">
            </apx-chart>
        </div>

        <ng-template #description>
            <em class="description-text">{{plan.description}}</em>
        </ng-template>

        <div>
            <span class="amount">$ 20,500</span>
        </div>
    </div>
</div>
