<td>
    <abbr [title]="block['User.name'] + ' ' + block['User.lastName']">
        {{trimLength(block['User.name'])}}</abbr>
</td>
<td>{{block?.createdAt | date:'mediumDate'}}</td>
<td>{{block?.createdAt | date:'shortTime'}}</td>
<td>{{block.fiatAmount | currency:block.fiatCurrency:'symbol'}}</td>
<td>{{block.paymentMedium}}</td>
<td><abbr [title]="block['walletAddr']">{{block['walletAddr'].substring(0, 7)}}</abbr>
</td>
<td><button class="button is-rounded is-link" (click)="accept_()">Accept</button>
</td>
<td><button class="button is-rounded" (click)="hide_()">Hide</button></td>
<td><button class="button is-rounded" (click)="reject_()">Reject</button></td>
