<section class="bottom spc" style="margin-bottom: 0">
    <div class="root-container">
        <img src="assets/img/logo.svg" alt="Investment logo" srcset="">
        <p>
            Investment funds not held in a fiat account, but are held by The Investment Group
            crypto wallet, from which revenues are generated further targeted investments.
        </p>
        <p class="sm-spc">
            Disclaimer: Our cryptocurrency-related services are not regulated by any regulatory
            body. Please be aware that you’ll have no recourse to any financial ombudsman service or
            any Financial regulator or authority in the event of a complaint relating to our
            cryptocurrency services. Please note that your account is not protected by a
            financial services compensation scheme and your cryptocurrency holdings may experience
            price volatility resulting in a high degree of risk which can result in the loss of your
            invested capital. Before investing, you should ensure that you fully understand all the
            risks involved and take into consideration your level of experience and investment
            objectives. You should not invest more than you can afford to lose. The information on
            this site is not directed at residents of the United States or any particular country
            where such distribution or use would be contrary to local law or regulation.
        </p>
        <p class="sm-spc">
            © 1995–2022 The Investment Group, Inc. All rights reserved. Vanguard Marketing
            Corporation, Distributor of the Investment Funds. Your use of this site signifies that
            you accept our terms & conditions of use.
        </p>
    </div>
</section>
