@use "sass:math";
@import '/src/variables.scss';

.pay-card {
    // Set the width of the parent of figure.canvas, .section in this case to adjust width but
    // maintain aspect ratio
    position: relative;
    padding: 0;
    width: 300px;
    padding-bottom: math.div(3, 4.6) * 100%; // e.g 75% is for ratio 4:3, so we do (3 / 4) * 100%
    border-radius: 1em;
    font-family: $text-font;
    margin: 0.5em 0.5em;
    cursor: pointer;

    // prevent text selection
    -webkit-touch-callout: none;
    /* iOS Safari only */
    user-select: none;

    transition: filter 150ms linear;

    &:hover {
        filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
    }

    &-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.5em;
        color: white;
        font-size: 2em;
    }

    &-method {
        text-align: right;
        font-size: 1.1em;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
    }

    &-number {
        display: flex;
        justify-content: space-between;
        font-size: 0.65em;
        line-height: 3;
    }

    &-text {
        float: right;
        font-size: 0.5em;
        clear: both;
        font-weight: lighter;
        margin-top: -5px;
    }
}

.sticker {
    display: flex;
    height: 1.5em;
    max-width: 35%;
    justify-content: space-between;

    .connect {
        width: 0.9em;
        margin-bottom: -2px;
    }
}

.xrp {
    background: linear-gradient(68.44deg, #2B4584 0%,
            #335B75 18.54%, #3B7266 41.98%,
            #428857 66.98%,
            #4A9E48 100%);
}

.xlm {
    background: linear-gradient(68.44deg,
            #215273 0%,
            #359D9E 18.54%,
            #55C595 41.98%,
            #7BE495 66.98%,
            #CFF4D1 100%);
}

.wire {
    background: linear-gradient(68.44deg,
            #FFCB6B 0%,
            #CFBB90 18.54%,
            #9EABB5 41.98%,
            #6E9BDA 66.98%,
            #3D8BFF 100%);
}

.c-card {
    background: linear-gradient(68.44deg,
            #95F9C3 0%,
            #73C9AC 18.54%,
            #509995 41.98%,
            #2E687D 66.98%,
            #0B3866 100%);
}

.d-card {
    background: linear-gradient(68.44deg,
            #0974F1 0%,
            #2F8AF3 18.54%,
            #54A0F6 41.98%,
            #7AB6F8 66.98%,
            #9FCCFA 100%);
}