<div class="pay-card {{css}}">
    <div class="pay-card-content">
        <div class="pay-card-method">{{name}}</div>
        <div class="sticker">
            <img src="/assets/img/chip.svg" draggable="false">
            <img src="/assets/img/connection.svg" class="connect" draggable="false">
        </div>
        <div class="pay-card-number">
            <span>XXXX</span><span>XXXX</span><span>XXXX</span><span>XXXX</span>
        </div>
        <span class="pay-card-text">{{text}}</span>
        <button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
            Do it!
        </button>
    </div>
</div>
