<section class="plan-list container-white">
    <div class="sub-title" style="display: flex;">
        <h2>Investments</h2>
        <div style="margin-left: auto">
            <span style="font-weight: bold">←</span> drag
        </div>
    </div>
    <swiper [config]="swiperConfig" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
        <ng-template swiperSlide *ngFor="let plan of plans | async">
            <app-plan-card [plan]="plan" (click)="display(plan)" [showStats]="true">
            </app-plan-card>
        </ng-template>
    </swiper>
</section>

<section class="stats">
    <article class="stats-plan container-white">
        <h2 class="sub-title">Platinum Plan</h2>
        <apx-chart [chart]="planStatOptions.chart" [series]="planStatOptions.series"
                   [colors]="planStatOptions.colors" [stroke]="planStatOptions.stroke"
                   [grid]="planStatOptions.grid" [labels]="planStatOptions.labels"
                   [dataLabels]="planStatOptions.dataLabels" [fill]="planStatOptions.fill"
                   [tooltip]="planStatOptions.tooltip" [xaxis]="planStatOptions.xaxis"
                   [yaxis]="planStatOptions.yaxis" [markers]="planStatOptions.markers"
                   [responsive]="planStatOptions.responsive">
        </apx-chart>
        <apx-chart [chart]="planStatBrushOptions.chart" [series]="planStatBrushOptions.series"
                   [colors]="planStatBrushOptions.colors" [stroke]="planStatBrushOptions.stroke"
                   [grid]="planStatBrushOptions.grid" [xaxis]="planStatBrushOptions.xaxis"
                   [yaxis]="planStatBrushOptions.yaxis" [markers]="planStatBrushOptions.markers">
        </apx-chart>
    </article>

    <article class="stats-overview container-white">
        <h2 class="sub-title">Overview</h2>
        <apx-chart [chart]="pieChartOptions.chart" [series]="pieChartOptions.series"
                   [labels]="pieChartOptions.labels" [responsive]="pieChartOptions.responsive"
                   [fill]="pieChartOptions.fill" [legend]="pieChartOptions.legend">
        </apx-chart>
    </article>
</section>
