@import "node_modules/swiper/swiper.scss";
@import '/src/variables.scss';

// uses ViewEncapsulation.None

.plan-list {
  padding-bottom: 0;
}

.swiper-slide {
  width: 250px;
}

.stats {
  $overview-width: 50%;
  $margin: 1em;

  @media (min-width: 48em) {
    display: flex;
    justify-content: space-between;
  }

  &-overview {
    display: flex;
    flex-direction: column;

    @media (min-wdith: 48em) {
      // Apex charts doesn't respect flex-basis, so we'll be using width
      width: calc(100% - #{$overview-width} - #{2 * $margin});
      margin-left: $margin;
    }

    >*:not(h2) {
      align-self: center;
      // it's in a column flex, so margin: auto will central it vertically
      margin: auto;
    }
  }

  &-plan {
    overflow: hidden;
    
    @media (min-width: 48em) {
      // Apex charts doesn't respect flex-basis, so we'll be using width
      width: $overview-width;
      margin-right: $margin;
      flex-grow: 1;
    }
  }
}