@import "node_modules/swiper/swiper.scss";
@import '/src/variables.scss';

// uses ViewEncapsulation.None

.plan-list {
  padding-bottom: 0;  
}

.swiper-slide {
  width: 250px;
  height: 300px;
}

.swiper {
  padding-left: 15%;
  padding-right: 15%;
}