<section #hero class="hero">
    <header class="bold">
        <h1>A plan built to get you where you want to go</h1>
        <h2>Investment Personal Advisor Services®. For today's world or anytime.</h2>
        <button class="button is-rounded">Let's make it happen</button>
    </header>
</section>

<app-sign-in></app-sign-in>

<div class="spc" style="width: 60%; text-align: center;">
    <span>COVID-19 alerts and mail service interruptions</span>
</div>

<div class="spc" style="width: 35%; text-align: center;">
    <span>
        Investment is made up of more than 30 million investors, all with
        unique stories and
        individual goals. You're in good company.
    </span>
</div>

<section id="advice" class="advice">
    <div class="advice-black">
        <h2>
            <strong style="color: white;">It all starts with a plan. Choose how to build
                yours.</strong>
        </h2>
    </div>

    <div class="do padd">
        <img src="assets/advice.jpg" alt="Financial advice" srcset="">
        <h3 class="sm-spc">Work with an advisor</h3>
        <p class="sm-spc">Get personalized support as you strive toward your goals, no matter
            where you stand in
            your financial journey.
        </p>
        <button class="button is-rounded">Partner with an adivsor</button>
    </div>
</section>

<section class="try section padd">
    <div class="do">
        <img src="assets/advice.jpg" class="image" alt="Financial advice" srcset="">
        <h3 class="sm-spc">Work with an advisor</h3>
        <p class="sm-spc">Get personalized support as you strive toward your goals, no matter
            where you stand in
            your financial journey.
        </p>
        <button class="button is-rounded">Partner with an adivsor</button>
    </div>
    <div class="do">
        <img src="assets/advice.jpg" class="image" alt="Financial advice" srcset="">
        <h3 class="sm-spc">Work with an advisor</h3>
        <p class="sm-spc">Get personalized support as you strive toward your goals, no matter
            where you stand in
            your financial journey.
        </p>
        <button class="button is-rounded">Partner with an adivsor</button>
    </div>
</section>

<section class="section" style="min-height: 200px; background-color: rgb(0, 70, 128);"></section>

<section>
    <div class="section persuade padd">
        <div>
            <h3>You're not alone</h3>
            <p>Investment investors just like you have lots of experiences to share.</p>
        </div>
        <div class="persuade-links">
            <ul>
                <li><a href="http://hs.hs">Manage Dept</a></li>
                <li><a href="http://hs.hs">Manage Dept</a></li>
                <li><a href="http://hs.hs">Manage Dept</a></li>
                <li><a href="http://hs.hs">Manage Dept</a></li>
                <li><a href="http://hs.hs">Manage Dept</a></li>
            </ul>
        </div>
    </div>
    <div class="persuade-background"></div>
</section>

<section class="black"></section>