<section #hero class="hero">
    <header class="bold">
        <h1>A plan built to get you where you want to go</h1>
        <br>
        <h2>Investment Personal Advisor Services®. For today's world or anytime.</h2>
        <button class="button is-rounded">Let's make it happen</button>
    </header>
</section>

<app-sign-in></app-sign-in>

<div style="margin: 2em auto; width: 60%; text-align: center;">
    <span>COVID-19 alerts and mail service interruptions</span>
</div>

<div style="margin: 2em auto; width: 35%; text-align: center;">
    <span>
        Investment is made up of more than 30 million investors, all with
        unique stories and
        individual goals. You're in good company.
    </span>
</div>

<section id="advice" class="advice">
    <div class="black">
        <h2>
            <strong style="color: white;">It all starts with a plan. Choose how to build
                yours.</strong>
        </h2>
    </div>
    <img src="assets/advice.jpg" class="image" alt="Financial advice" srcset="">
    <div class="option"></div>

    <div class="do">
        <h3>Work with an advisor</h3>
        <p>Get personalized support as you strive toward your goals, no matter where you stand in
            your financial journey.
        </p>
        <button class="button is-rounded">Partner with an adivsor</button>
    </div>
</section>

<section id="how"></section>
