.hero {
    background-image: url('/assets/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    background-position-x: 10%;

    @media (min-width: 48em) {
        background-position-y: 20%;
    }
}