<section #hero class="hero">
    <header class="bold">
        <h1>A plan built to get you where you want to go</h1>
        <br>
        <h2>Investment Personal Advisor Services®. For today's world or anytime.</h2>
        <button class="button is-rounded">Let's make it happen</button>
    </header>
</section>

<app-sign-in></app-sign-in>

<div style="margin: 2em auto; width: 60%; text-align: center;">
    <span>COVID-19 alerts and mail service interruptions</span>
</div>

<div style="margin: 2em auto; width: 35%; text-align: center;">
    <span>Investment is made up of more than 30 million investors, all with unique stories and
        individual goals. You're in good company.</span>
</div>

<section id="why"></section>

<section id="how"></section>

