@import 'src/variables.scss';

.status {
    .pending {
        background-color: $grey-light;
    }

    .failure {
        background-color: $pastel-color-orange;
    }
}

input {
    cursor: pointer;
}