<td>
    <input type="radio" name="withdrawFromThisBlock" (click)="selectRadio()"
           [value]="block.depositId"
           [disabled]="block.status == 'unavailable' || block.status == 'withdrawn'">
</td>
<td>Deposit</td>
<td>{{block.description}}</td>
<td>{{ block.amount | currency:userCurrency:'symbol'}}</td>
<td class="status">
    <div class="flex">
        <span class="status-text">{{block.statusMessage}}</span>
        <span class="status-icon {{block.cssClass}}"></span>
    </div>
</td>
