<div class="wrapper root-container">
    <div class="dropdown" #dropdown (click)="toggleMenu()" [class.is-active]="isMenuShown">
        <div class="dropdown-trigger">
            <button class="button" style="margin: 0" aria-haspopup="true"
                    aria-controls="dropdown-menu2">
                <span>Our sites</span>
                <span class="icon is-small" aria-hidden="true">
                    <svg *ngIf="!isMenuShown" class="svg-icon">
                        <use xlink:href="#icon-chevron-down"></use>
                    </svg>
                    <svg *ngIf="isMenuShown" class="svg-icon">
                        <use xlink:href="#icon-chevron-up"></use>
                    </svg>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
            <div class="dropdown-content">
                <div class="dropdown-item">
                    <p><strong>Secure</strong> your future </p>
                </div>
                <hr class="dropdown-divider">
                <div class="dropdown-item">
                    <p>You simply need an investment plan that works</p>
                </div>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                    This is click-investment
                </a>
            </div>
        </div>
    </div>
    <div class="button" style="margin-left: auto;">Open an account</div>
    <div class="button">Forms</div>
    <!-- <div class="button">Support</div> -->
</div>
<div class="horizontal-line"></div>

<nav app-nav class="navbar root-container" role="navigation" aria-label="main navigation"></nav>
<div class="horizontal-line"></div>
