@use "sass:math";

@import "src/variables";
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/components/navbar.sass";

.wrapper {
    display: flex;
    width: 100%;
    letter-spacing: 1.5px;

    .dropdown-menu {
        z-index: 35;
    }
}

.button {
    margin-left: 2em;
    padding: 0;
    border: none;
    font-family: $display-font;
    font-weight: 400;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: $grey-dark;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:focus,
    &:focus-visible,
    &:active {
        box-shadow: none !important;
    }
}

.dropdown-trigger {
    line-height: 0;
}