<form class="sign-in-form spc">
    <div class="input-container">
        <label #label for="username" class="label">Username</label>
        <input #input class="input" id="username" type="text">
    </div>
    <div class="input-container">
        <label #label for="password" class="label">Password</label>
        <input #input class="input" id="password" type="text">
    </div>
    <button class="button is-rounded is-white" type="submit">Log on</button>
    <a routerLink="/pre-signup" class="button is-rounded">Open an account</a>
</form>
