<article class="profile-card">
    <img class="profile-pic" src="/assets/img/avatar.png" alt="profile-picture" srcset="">
    <span class="profile-text name">John Adams</span>
    <span class="profile-text email">john.adams@gmail.com</span>

    <hr class="line">

    <ul>
        <li class="profile-info">Current worth<span class="value">$200, 000</span></li>
        <li class="profile-info">Total deposit<span class="value">$50, 000</span></li>
        <li class="profile-info">Total withdrawal<span class="value">$1, 000</span></li>
        <li class="profile-info">Last login<span class="value">2nd August, 2011</span></li>
        <li class="profile-info">Total deposit<span class="value">$50, 000</span></li>
        <li class="profile-info">Total withdrawal<span class="value">$1, 000</span></li>
        <li class="profile-info">Last login<span class="value">2nd August, 2011</span></li>
    </ul>
</article>