<article class="container-white profile-card">
    <img class="profile-pic" src="/assets/img/avatar.png" alt="profile-picture" srcset="">
    <span class="profile-text name">{{(user | async).name}}</span>
    <span class="profile-text email">{{(user | async).email}}</span>

    <hr class="line">

    <ul>
        <li class="profile-info">Current worth<span class="value">Computing...</span></li>
        <li class="profile-info">Total deposit<span class="value">Computing...</span></li>
        <li class="profile-info">Total withdrawal<span class="value">Computing...</span></li>
    </ul>
</article>
