@import '/src/variables.scss';

.profile {
    height: 100%;

    @media (min-width: 48em) {
        display: flex;
        justify-content: center;
    }

    >* {
        flex-basis: 50%;

        @media (min-width: 48em) {
            &:last-child {
                margin-left: 1em;
            }
        }
    }
}