@import '/src/variables.scss';

.profile {
    display: flex;
    justify-content: center;
    height: 100%;

    >* {
        flex-basis: 50%;
        &:last-child {
            margin-left: 1em;
        }
    }
}