@import '/src/variables.scss';

.profile {
    $card-width: 30%;
    display: flex;

    app-profile-card {
        flex-basis: $card-width;
        max-width: 530px;
    }

    &-stats {
        @include card();
        display: flex;
        flex-direction: column;
        flex-basis: 100% - $card-width;
        flex-grow: 1;
        margin-left: 1em;
    }
}