<div class="border spc">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <h2>Login</h2>

        <br>
        <div class="input-row">
            <div>
                <input-box placeholder="Email" errorMsg="Enter your email" type="email"
                           [control]="email" [validationFailed]="email.invalid && email.touched">
                </input-box>
            </div>
            <div>
                <input-box placeholder="Password" errorMsg="Enter your password" type="password"
                           [control]="password"
                           [validationFailed]="password.invalid && password.touched">
                </input-box>
            </div>
        </div>

        <br>
        <div class="input-row">
            <a [routerLink]="['/auth/signup_']" class="button is-rounded"
               style="flex-basis: 42%;">Back</a>
            <button class="button is-rounded is-link" type="submit" style="flex-basis: 42%;"
                    [disabled]="!form.valid || disableSubmitButton">Submit</button>
        </div>
    </form>
</div>
