<form class="signin-form spc">
    <div>
        <input-box placeholder="Email" [control]="email" errorMsg="Enter your email" type="email">
        </input-box>
    </div>
    <div>
        <input-box placeholder="Password" [control]="password" errorMsg="Enter your password"
                   type="password">
        </input-box>
    </div>
    <div class="signin-form-buttons">
        <button class="button is-rounded is-link" type="submit">Log on</button>
        <a [routerLink]="['/auth/signup_']" class="button is-rounded">Open an account</a>
    </div>
</form>
