<article class="border spc">
    <h1 style="margin-bottom: 0.5em">Open an account</h1>
    <div class="flex">
        <section class="shadow-border">
            <h2>Things you'll need</h2>
            <ul>
                <li>
                    <span class="item-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#check"></use>
                        </svg>
                    </span>
                    <p>Your email account and phone number</p>
                </li>
                <li>
                    <span class="item-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#check"></use>
                        </svg>
                    </span>
                    <p>Your crypto wallet address (to fund your account)</p>
                </li>
            </ul>
        </section>
        <section class="side">
            <h2>New account process</h2>
            <ol class="style-counter">
                <li class="blue">
                    <strong>Fill in the registration form</strong>
                    <p>
                        Enter your details in the registration form.
                        Afterwhich, click submit to proceed.
                    </p>
                </li>
                <li class="orange">
                    <strong>Select a payment method and plan</strong>
                    <p>
                        Select the method by which you'll fund your account, and
                        also a plan which you'll fund into.
                    </p>
                </li>
                <li class="purple">
                    <strong>Start investing</strong>
                    <p>
                        Once your account is funded, you can monitor
                        your daily investment balance and earn.
                    </p>
                </li>
            </ol>
        </section>
    </div>
    <div class="flex">
        <a routerLink="/" class="button is-rounded is-link">Back</a>
        <a [routerLink]="['/auth/signup']" class="button is-rounded"
           style="margin-left: auto">Continue</a>
    </div>
</article>

<footer app-footer></footer>
