<section class="border spc" style="margin-bottom: 6em">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <h2>Open and account</h2>
        <br>
        <div class="input-row">
            <div>
                <input-box placeholder="Name" errorMsg="Enter your surname" [control]="name"
                           [validationFailed]="name.invalid && name.touched">
                </input-box>
            </div>
            <div>
                <div class="input-box">
                    <div class="select" style="width: 100%">
                        <select class="input" [formControl]="currency"
                                placeholder="Select currency">
                            <option>USD</option>
                            <option>GBP</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="input-row">
            <div>
                <input-box placeholder="Email" errorMsg="Enter your email" [control]="email"
                           type="email" [validationFailed]="email.invalid && email.touched">
                </input-box>
            </div>
            <div>
                <input-box placeholder="Phone number"
                           errorMsg="Enter a correct phone number or none" [control]="phone"
                           type="tel" [validationFailed]="phone.invalid && phone.touched">
                </input-box>
            </div>
        </div>

        <br>
        <div class="input-row">
            <div>
                <input-box placeholder="Password" errorMsg="Enter your password"
                           [control]="password" type="password"
                           [validationFailed]="password.invalid && password.touched">
                </input-box>
            </div>
            <div>
                <input-box placeholder="Retype password" [control]="retypePassword" type="password"
                           [validationFailed]="retypePassword.invalid && retypePassword.touched">
                </input-box>
                <span *ngIf="retypePassword.invalid && retypePassword.touched"
                      class="input-validation-msg">
                    <span *ngIf="retypePassword.hasError('required')">
                        Retype entered password
                    </span>
                    <span *ngIf="retypePassword.hasError('__')">
                        {{retypePassword.errors['x!x']}}
                    </span>
                </span>
            </div>
        </div>

        <br>
        <div class="input-row">
            <a [routerLink]="['/auth/signup_']" class="button is-rounded">Back</a>
            <button class="button is-rounded is-link" type="submit"
                    [disabled]="!form.valid || disableSubmitButton">Submit</button>
        </div>
    </form>
</section>

<footer app-footer></footer>
