@import "/src/variables.scss";

.top-bar {
    margin: 0.2em 0.7vw 0.8em 0.7vw;

    .top {
        display: flex;
        align-items: center;
        // prevent text selection
        -webkit-touch-callout: none;
        /* iOS Safari only */
        user-select: none;
    }

    .actions {
        flex-basis: auto;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-top: -0.2rem; // helps to align with the burger button on mobile
    }

    .search {
        position: relative;
        display: none;
        align-items: center;
        justify-content: flex-start;
        width: 10em;

        @media (min-width: 48em) {
            display: inline-flex;
            width: unset;
        }

        &-icon {
            position: absolute;
            right: 0.5rem;
            top: 1.15rem;
            z-index: 1;
            margin: 0;
            fill: $grey-light;
        }
    }
}

.icon-button {
    border: 0;
    background-color: transparent;
    color: $text-color;
    cursor: pointer;

    &:hover {
        scale: 2;
    }

    &:active,
    &:focus {
        background-color: rgba(0, 0, 0, 0.10);
        border: 0;
        border-radius: 0.5em;
    }

    .svg-icon {
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    }

    &:not(:last-child) {
        margin: 0 0.2em;

        @media (min-width: 48em) {
            margin: 0 1em;
        }
    }

    &:last-child {
        margin-left: 0.2em;

        @media (min-width: 48em) {
            margin-left: 1em;
        }
    }

    &.fullscreen {
        @media (max-width: 48em) {
            // we don't need the fullscreen button visible on mobile
            // but we still want it to be visible
            visibility: hidden;
            // and under the burger menu button
            order: 4;
            margin-right: 0.5em; // space hack
        }
    }
}

.breadcrumb {
    margin-bottom: 1.2rem;
    font-size: 0.7em;

    @media (min-width: 48em) {
        font-size: 1em;
    }
}