@import "/src/variables.scss";

.top-bar {
    display: flex;
    margin: 0.5em 1.5em 2.5em 1.5em;
    align-items: center;
    // prevent text selection
    -webkit-touch-callout: none; /* iOS Safari only */
    user-select: none;
}

.nav {
    flex-basis: auto;
    display: flex;
    align-items: center;
}

.svg-icon {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));

    &:not(:last-child) {
        margin: 0 1.5em;
    }
}

.search {
    display: inline-flex;
    align-items: center;

    &-icon {
        position: relative;
        right: -4rem - 3.2rem;
        z-index: 1;
        margin: 0;
    }
}

label {
    position: relative;
    right: -3rem - 3rem;
    z-index: 1;
    font-size: 1.5em;
    font-size: $text-font;
}

.input {
    border: 0;
    background-color: white;
    width: 250px;
    max-height: 25px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
}