<div class="top-bar">
    <div class="top">
        <div>
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon is-small">
                                <svg class="svg-icon" aria-hidden="true">
                                    <use xlink:href="#diamond"></use>
                                </svg>
                            </span>
                            <span>App</span>
                        </a>
                    </li>
                    <li *ngFor="let crumb of breadcrumbs | async" [routerLink]="[crumb.url]"
                        routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"
                        [class.is-active]="crumb.forceActive">
                        <a [routerLink]="[crumb.url]">{{crumb.title}}</a>
                    </li>
                </ul>
            </nav>
            <span class="main-title">{{title}}</span>
        </div>

        <div class="actions">
            <div class="search">
                <form>
                    <input-box placeholder="Search" [control]="search"></input-box>
                </form>
                <svg class="svg-icon search-icon">
                    <use xlink:href="#magnify"></use>
                </svg>
            </div>
            <button #useToUnfocusAfterClick title="Fullscreen" class="icon-button fullscreen"
                    (click)="toggleFullScreen(useToUnfocusAfterClick)">
                <svg class="svg-icon">
                    <use xlink:href="#fullscreen"></use>
                </svg>
            </button>
            <button class="icon-button" title="Notifications" (click)="notificationViewing()">
                <svg class="svg-icon">
                    <use xlink:href="#bell"></use>
                </svg>
            </button>
            <button class="icon-button" title="Headlines"
                    (click)="newsHeadlineNotificationViewing()">
                <svg class="svg-icon">
                    <use xlink:href="#newspaper-variant-multiple-outline"></use>
                </svg>
            </button>
        </div>

    </div>
</div>
