<article class="about">
    <header>
        <h1>About Click Investment</h1>
    </header>
    <img src="/assets/img/bitcoin.svg" alt="Logo" srcset="">
    <p>
        Click Investment is a product ready investment platform,
        where you invest your crypto assets to gain increase, which
        are much more profitable than just storing them in wallets.
        The platform is sophisticated, yet very easy to use.
    </p>
    <br>
    <p>
        Invest with us today!!!
    </p>
</article>

<footer app-footer></footer>