<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Amount</th>
            <th><abbr title="Did you pay through card or crypto?">Channel</abbr></th>
            <th><abbr title="Description of what happened">Objective</abbr></th>
            <th>Status</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Amount</th>
            <th><abbr title="Did you pay through card or crypto?">Channel</abbr></th>
            <th><abbr title="Description of what happened">Objective</abbr></th>
            <th>Status</th>
        </tr>
    </tfoot>
    <tbody>
        <tr class="row" *ngFor="let deposit of data">
            <td>{{deposit.createdAt | date:'mediumDate'}}</td>
            <td>{{deposit.createdAt | date:'shortTime'}}</td>
            <td>{{deposit.fiatAmount | currency:deposit.fiatCurrency:'symbol'}}</td>
            <td>{{deposit.paymentMedium}}</td>
            <td>Made payment to the {{deposit['Plan.name']}} plan</td>
            <td class="status">
                <div class="flex">
                    <span>{{deposit.status | titlecase}}</span>
                    <span class="status-icon failure"></span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
