@import 'src/variables.scss';

.sign-up {
    display: flex;
}

.form-horizontal {
    display: flex;
    justify-content: space-between;
    flex-basis: 75%;
    
    >* {
        flex-basis: 48%;
    }
}

.side {
    flex-basis: 25%;
}