<article class="message">
    <header class="message-header is-link">
        <p>Select withdrawal block</p>
    </header>
    <section class="message-body">
        <p>You can either <strong>withdraw money from your total profit</strong>, or withdraw
            money you deposited <strong><em>after it's due for withdrawal</em></strong>.
        </p>
        <p>From the list below, select the available deposits you made earlier,
            which is now ready for withdrawal, or select to withdraw from your profit.
        </p>
    </section>
</article>

<article>
    <h2 class="sub-title table-title container-white">Withdrawal availability blocks</h2>

    <div class="container-white table-adjust">

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th> </th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr class="row" (click)="setToWithdrawFromProfit()">
                        <td>
                            <input type="radio" name="withdrawFromThisBlock" #profitRadio
                                   value="profit" style="cursor: pointer">
                        </td>
                        <td>Profit</td>
                        <td>Current profit in {{withdrawDetails?.plan.name}} plan</td>
                        <td>{{ planCurrentGross - planCurrentAmount |
                            currency:userCurrency:'symbol'}}
                        </td>
                        <td class="status">
                            <div class="flex">
                                <span class="status-text">Always available</span>
                                <span class="status-icon success"></span>
                            </div>
                        </td>
                    </tr>
                    <tr #blockComponent *ngFor="let block of blocks | async" [block]="block"
                        (click)="setSelection(blockComponent)" class="row" app-withdraw-block>
                    </tr>
                </tbody>
            </table>
        </div>

        <button (click)="withdraw()" class="button is-rounded is-link" type="submit"
                style="float: right; margin: 0">Proceed with withdrawal</button>
        <div style="clear: right"></div>
    </div>
</article>
