<article>
    <div class="sub-title container-white" style="display: flex;">
        <h2>Cashflow history</h2>
        <div class="tabs is-right" style="margin-left: auto;">
            <ul>
                <li class="is-active"><a (click)="showDeposits()">Deposits</a></li>
                <li><a (click)="showWithdrawals()">Withdrawals</a></li>
            </ul>
        </div>
    </div>

    <div class="container-white table-adjust">
        <div #hostComponent></div>

        <!--
        <div class="paging">
            <div class="position">Showing <b>6</b> of <b>230</b></div>
            <nav class="pagination" role="navigation" aria-label="pagination">
                <a class="pagination-previous">Previous</a>
                <a class="pagination-next">Next page</a>
                <ul class="pagination-list">
                    <li>
                        <a class="pagination-link" aria-label="Goto page 1">1</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link" aria-label="Goto page 45">45</a>
                    </li>
                    <li>
                        <a class="pagination-link is-current" aria-label="Page 46"
                           aria-current="page">46</a>
                    </li>
                    <li>
                        <a class="pagination-link" aria-label="Goto page 47">47</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link" aria-label="Goto page 86">86</a>
                    </li>
                </ul>
            </nav>
        </div>
        -->
    </div>
</article>
