@import 'src/variables.scss';

.sub-title {
    color: $link;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.table {
    width: 100%;
    font-family: $text-font;
    font-size: 1.1em;
    color: $text-color;
    margin-bottom: 1em;

    th,
    td {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 0;
        color: $text-color;
        vertical-align: middle;
    }

    tr {
        transition: all 150ms ease-in;

        &.row:hover {
            background-color: $grey-lightest;
        }
    }

    &-adjust {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .status {
        padding-right: 0;

        .flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-icon {
            display: block;
            border: 2px solid $grey-lightest;
            width: 1.2em;
            height: 1.2em;
            border-radius: 50%;
            margin-left: 5px;

            &.success {
                background-color: $pastel-color-green;
            }

            &.pending {
                background-color: $pastel-color-orange;
            }

            &.failure {
                background-color: $pastel-color-red;
            }
        }

    }
}

.paging {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .position {
        margin-right: 2em;
    }

    .pagination {
        flex-grow: 1;
    }
}