@import 'src/variables.scss';

.sub-title {
    color: $link;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.tabs {
    overflow-x: hidden;
    font-size: 0.7em;

    @media (min-wdith: 48em) {
        font-size: 1em;
    }

    ul {
        border: 0;
    }
}