@import 'src/variables.scss';

$input-height: 3.5rem;
$flex-basis: 30%;

.sign-in-form {
    display: flex;
    align-items: center;

    >* {
        flex-basis: $flex-basis;
        flex-grow: 1;
        margin: 0 0.7em;
    }
}

.input-container {
    $font-size: 1rem;
    $padding: 0.3rem; // allowance for shadow hover effect to show

    padding: $padding 0;
    max-height: $input-height + $padding;

    .label {
        display: block;
        line-height: 0;
        font-size: $font-size;
        transform: translate(1rem, calc(#{$font-size} + #{$input-height / 4}));
        transform-origin: left;
        transition: transform 0.2s ease, font-size 0.2s ease;
    }

    .move-label {
        transform: translate(0.9rem, $input-height / 4);
        font-size: $font-size / 1.5;
    }

    .input {
        position: static;
        height: $input-height;

        &:hover {
            border-width: 2px;
        }
    }
}

.button {
    flex-basis: $flex-basis - 7% !important;

    &.log-in {
        background-color: $primary;
        color: white;
        transition: background-color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;

        &:hover {
            background-color: lighten($primary, 7%);
            border-color: lighten($primary, 7%);
            box-shadow: 0px 0px 0px 2px lighten($primary, 7%);
            color: white;
        }
    }
}