<article>
    <header>
        <h1>Open an account</h1>
        <div>
            <h2>Things you'll need</h2>
            <ul>
                <li>Your bank account number and/or crypto waller (to fund your account)</li>
                <li>Your current employer's name and address (if applicable)</li>
            </ul>
        </div>
    </header>
    <section class="side">
        <h2>New account process</h2>
        <ul>
            <li>
                <div class="list-item">
                    <strong>Choose an account type</strong>
                    <p>
                        Select an account type for your goals (retirement, general ivesting,
                        education, etc.). You can open one account at a time.
                    </p>
                </div>
            </li>
            <li>
                <div class="list-item">
                    <strong>Fill details form</strong>
                    <p>
                        Fillin accurate details form as needed
                    </p>
                </div>
            </li>
            <li>
                <div class="list-item">
                    <strong>Start investing</strong>
                    <p>
                        Once your account is funded, you can choose investments such as mutual
                        funds,
                        ETFs (exchange-traded funds), and individual stocks or bonds.
                    </p>
                </div>
            </li>
        </ul>
    </section>
</article>
