@import "variables";
@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/form/shared.sass";
@import "node_modules/bulma/sass/form/input-textarea.sass";
@import "node_modules/bulma/sass/form/checkbox-radio.sass";
@import "node_modules/bulma/sass/form/select.sass";
@import "node_modules/bulma/sass/form/file.sass";
@import "node_modules/bulma/sass/components/dropdown.sass";
// @import "node_modules/bulma/sass/components/breadcrumb.sass";
// @import "node_modules/bulma/sass/components/media.sass";
// @import "node_modules/bulma/sass/components/message.sass";
// @import "node_modules/bulma/sass/components/modal.sass";
// @import "node_modules/bulma/sass/components/pagination.sass";
// @import "node_modules/bulma/sass/components/panel.sass";
// @import "node_modules/bulma/sass/components/tabs.sass";

@font-face {
    font-family: 'Univers';
    src: url('assets/Zurich__Light_BT.ttf');
}

body {
    color: $grey-dark;
    background-color: $background-color;
    font-size: calc(1vw + 0.6em);
    font-family: $main-font;
    overflow-x: hidden;
    padding-top: 4em;

    @media (min-width: 48em) {
        font-size: calc(1vw + 0.4em);
    }
    
    @media (min-width: 64em) {
        font-size: calc(1vw + 0.08em);
    }
}

img {
    max-width: 100% !important;
}

@mixin pad-container {
    margin: auto;
    padding-left: $page-padding !important;
    padding-right: $page-padding !important;
}

.container {
    @include pad-container();
    max-width: $control-width - 150px !important;
}

.nav-container {
    @include pad-container();
    max-width: $control-width !important;
}

.header {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
    background-color: white;
}

section,
.spc {
    margin: $line-margin auto;
}

.sm-spc {
    margin: $line-margin / 2 auto;
}

.horizontal-line {
    border-bottom: 1px solid $grey-light;
}

.svg-icon {
    display: inline !important;
    width: 1.5rem; // 24px
    height: 1.5rem; // 24px
    stroke-width: 0;
    vertical-align: middle !important;
    stroke: currentColor;
    fill: currentColor;
}

.is-rounded {
    background-color: transparent;
    border: 1px solid $primary;
    box-sizing: content-box;
    margin: 1em auto;
    color: $primary;
    font-weight: bold;
    transition: box-shadow 200ms ease-in-out;

    &:hover {
        box-shadow: 0px 0px 0px 2px $primary;
        border: 1px solid $primary; // override bulma's
        color: $primary;
    }
}