// If we're going to override Bulma variables, we need to do it before importing Bulma modules
// So in our styles.scss file, we should import this file before importing Bulma and/or its modules

/* Imports necessary to modify bulma variables */
@use "sass:math";

@import "node_modules/bulma/sass/utilities/initial-variables",
"node_modules/bulma/sass/utilities/functions";
/* Override bulma initial variables default here */
// Add a serif family
$family-serif: 'Pridi, serif',
sans-serif;
$primary: #5b9571;
$link: #005F82;
$background-color: $white-ter;
$input-radius: 6px;
$input-border-color: $grey;
$input-hover-border-color: $grey-dark;
$message-background-color: white;
$message-header-padding: 0.75em 1rem;
$message-body-padding: 1.25em 1rem;
$message-radius: 1rem;
/* End override initial variables */

/* Import necessary to modify bulma derived variables */
@import "node_modules/bulma/sass/utilities/derived-variables";
/* Override derived variables default here */
$control-width: 1400px;
/* End override derived variables */

/* My variables */
$display-font: 'EB Garamond',
serif;
$text-font: 'Pridi',
serif;
$text-color: #5a5a5a;
$message-body-color: $text-color;

$margin: 2em;
$page-padding: 2rem;
$padding: $margin;
$line-margin: 2em;
$input-height: 3.5rem;
$border-radius: 1rem;
$nav-easing: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

@mixin pad-container {
    margin: auto;
    padding-left: $page-padding !important;
    padding-right: $page-padding !important;
}

@mixin border-radius {
    border-radius: 10px 10px 10px 10px;
}

@mixin card {
    background-color: white;
    border-radius: 1em;
    padding: 2em 1em;
}

.font-size-bigger {
    font-size: 1.1em;
}

.font-size-big {
    font-size: 1.2em;
}

.font-size-large {
    font-size: 1.8em;
}

/* Headings */
$leading: 1em !default;
$scale: 1 !default;

$pastel-color-sky-blue: #cbf6f8;
$pastel-color-blue: #a8e4ef;
$pastel-color-green: #0cc078;
$pastel-color-lemon-green: #79de79;
$pastel-color-yellow: #fcfc99;
$pastel-color-orange: #f7b654;
$pastel-color-red: #fb6962;

$info-color-red: #ff4038;
$info-color-yellow: #ffe716;
$info-color-green: #2df726;
$info-color-blue: #2279e3;