// If we're going to override Bulma variables, we need to do it before importing Bulma modules
// So in our styles.scss file, we should import this file before importing Bulma and/or its modules

/* Imports necessary to modify bulma variables */
@import "node_modules/bulma/sass/utilities/initial-variables",
"node_modules/bulma/sass/utilities/functions";
/* Override initial variables default here */
// Add a serif family
$family-serif: "Montserrat",
sans-serif;
$primary: #5b9571;
$link: #005F82;
$background-color: white;
$input-radius: 4px;
$input-border-color: $grey;
$input-hover-border-color: $grey-dark;
/* End override initial variables */


/* Import necessary to modify bulma derived variables */
@import "node_modules/bulma/sass/utilities/derived-variables";
/* Override derived variables default here */
/* End override derived variables */

$control-width: 1400px;
$main-font: Arial,
Helvetica,
sans-serif;
$margin: 2em;
$page-padding: $margin;
$padding: $margin;
$line-margin: 2em;

/* Headings */
$leading: 1em !default;
$scale: 1 !default;

@mixin pad-container {
    margin: auto;
    padding-left: $page-padding !important;
    padding-right: $page-padding !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 2;
}

h1 {
    $multiplier: 2.5;
    font-size: $multiplier * $scale * 1em;
    font-weight: bold;
}

h2 {
    $multiplier: 1.4;
    font-size: $multiplier * $scale * 1em;
    font-weight: bold;
}

h3 {
    font-size: 1 * $scale * 1em;
    font-weight: bold;
}

h4 {
    font-size: $scale / 2 * 1em;
}

h5 {
    font-size: $scale / 3 * 1em;
}

h6 {
    font-size: $scale / 4 * 1em;
}

// multiplying by 1em is just to convert to the type