<div class="app">
    <aside class="app-menu">
        <div class="app-menu-top">
            <div class="menu-button">
                <div class="menu-button__slice"></div>
            </div>
            <img class="profile-pic" src="/assets/img/avatar.png" alt="profile-picture" srcset="">
            <span class="text text-welcome">Welcome,</span>
            <span class="text text-name">Syndey Chiboy</span>
        </div>

        <nav class="app-nav">
            <ng-scrollbar #scrollable track="all" pointerEventsMethod="scrollbar"
                          [disabled]="disabled">
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
                <div class="foo">hello</div>
            </ng-scrollbar>
        </nav>
    </aside>
</div>
