<div class="app">
    <aside class="app-menu">
        <div class="app-menu-top">
            <div class="menu-button">
                <div class="menu-button__slice"></div>
            </div>
            <img class="profile-pic" src="/assets/img/avatar.png" alt="profile-picture" srcset="">
            <span class="text text-welcome">Welcome,</span>
            <span class="text text-name">John Adams</span>
        </div>

        <nav class="app-nav">
            <ng-scrollbar #scrollable track="all" pointerEventsMethod="scrollbar"
                          [disabled]="disabled">
                <app-side-menu-item [active]="true">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#tablet-dashboard"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Dashboard</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [active]="false">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#cards-variant"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Transactions</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [active]="false">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#handshake-outline"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Plans</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [active]="false">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#cash-multiple"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Loans</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [active]="true">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#face-man"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Profile</ng-container>
                </app-side-menu-item>

                <hr class="line">

                <app-side-menu-item [active]="false">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#cog-outline"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Settings</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [active]="false">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#information-outline"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">About</ng-container>
                </app-side-menu-item>
                <app-side-menu-item [active]="false">
                    <ng-container class="svg-icon">
                        <svg class="svg-icon">
                            <use xlink:href="#logout"></use>
                        </svg>
                    </ng-container>
                    <ng-container class="name">Logout</ng-container>
                </app-side-menu-item>
            </ng-scrollbar>
        </nav>
    </aside>

    <div class="app-panel">
        <router-outlet></router-outlet>
    </div>
</div>
