<img src="assets/logo.svg" class="logo nav-item" alt="Logo" srcset="">
<ul class="nav-items">
    <li>My Account</li>
    <li>Investing</li>
    <li>Advice & Retirement
        <svg class="svg-icon">
            <use xlink:href="#icon-chevron-down"></use>
        </svg>
    </li>
    <li>News & Perspective</li>
    <li>Benefits & Costs</li>
</ul>
<!-- search box -->
<div class="nav-item" style="margin-left: auto;">
    <!-- <input type="text"> -->
    <svg class="svg-icon">
        <use xlink:href="#icon-magnify"></use>
    </svg>
</div>
