@import 'src/variables.scss';

.payment {
    margin-bottom: 2em;

    &-methods {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;
    }

    &-desc {
        font-size: 1.2em;
        font-weight: lighter;
    }

    .deposit {
        color: $pastel-color-green;
    }

    .withdrawal {
        color: $pastel-color-red;
    }
}

.verification {
    display: inline-flex;
    align-items: center;

    > :nth-child(1) {
        margin-right: 0.5em;
    }

    > :last-child {
        margin-left: 0.5em;
    }
}

a.dropdown-item {
    padding-right: 1em;
}