@import 'src/variables.scss';

.payment {
    margin-bottom: 2em;

    &-methods {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }

    &-desc {
        font-size: 1.2em;
        font-weight: lighter;
    }

    .deposit {
        color: $pastel-color-green;
    }

    .withdrawal {
        color: $pastel-color-red;
    }
}

.verification {
    @media (min-width: 48em) {
        display: flex;
        align-items: center;

        > :nth-child(1) {
            margin-right: 0.5em;
        }

        > :last-child {
            margin-left: 0.5em;
        }
    }
}

// edit to bulma
.dropdown {
    display: block;

    .button {
        font-size: 0.65em;

        @media (min-width: 20em) {
            font-size: 0.9em;
        }
    }
}

.button.is-rounded {
    margin: 0.5em 0;
}

a.dropdown-item {
    padding-right: 1em;
}