<div #useAsScrollToTopAnchor></div>
<!-- normally, we don't require <swal> for it to work, but here we
    have children <app-payment-card>s that need a reference to it -->
<swal></swal>

<article #useAsScrollToTopAnchor class="message">
    <header class="message-header">
        <p>Verify a payment</p>
    </header>

    <section class="message-body">
        <p>Select from the list below, a payment which you wish to <em>verify</em>.</p>

        <div class="verification">
            <div class="dropdown" [class.is-active]="isDepositListVisible"
                 (click)="toggleDepositList()">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>
                            {{selectedDepositForVerification?.fiatAmount
                            | currency:selectedDepositForVerification?.fiatCurrency:'symbol'}}
                            {{selectedDepositForVerification?.createdAt | date:'medium'}}
                            {{selectedDepositForVerification?.status ?? 'Possible deposits'}}
                        </span>
                        <span class="icon is-small">
                            <svg class="svg-icon">
                                <use xlink:href="#chevron-down"></use>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a *ngFor="let deposit of unverifiedDeposits | async"
                           (click)="selectForVerification(deposit)" class="dropdown-item">
                            <span class="tag">{{deposit.fiatAmount
                                | currency:deposit.fiatCurrency:'symbol'}}
                                on {{deposit.createdAt | date:'medium'}}
                                <button (click)="removeFromListOfUnverified(deposit)"
                                        class="delete is-small"></button>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <button class="button is-rounded is-link" type="submit"
                    (click)="submitForVerification()"
                    [disabled]="selectedDepositForVerification?.status ? false : true">
                Submit for verification
            </button>
        </div>

    </section>
</article>

<section class="payment container-white">
    <h2 class="sub-title deposit">Deposit funds</h2>
    <p class="payment-desc">Choose the method by which you'll make payment</p>

    <div class="payment-methods">
        <app-payment-card *ngFor="let card of paymentMethods | async" [name]="card.name"
                          [css]="card.cssClass" [text]="'Payment Method'"
                          (selected)="alert.swalOptions = alertMixin; showAlert(card, 'deposit')">
        </app-payment-card>
    </div>
</section>

<section class="payment container-white">
    <h2 class="sub-title withdrawal">Withdraw money</h2>
    <p class="payment-desc">Choose the method by which you'll withdraw your money</p>

    <div class="payment-methods" style="opacity: 0.8;">
        <app-payment-card *ngFor="let card of paymentMethods | async" [name]="card.name"
                          [css]="card.cssClass" [text]="'Withdrawal Method'"
                          (selected)="alert.swalOptions = alertMixin; showAlert(card, 'withdraw')">
        </app-payment-card>
    </div>
</section>
