@import 'src/variables.scss';

.payment {
    margin-bottom: 2em;

    &-methods {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;
    }

    &-desc {
        font-size: 1.5em;
        font-weight: lighter;
    }

    .deposit {
        color: $pastel-color-green;
    }

    .withdrawal {
        color: $pastel-color-red;
    }
}